.name {
    color: darkblue;
    text-align: left;
    font-size: 18pt;
    white-space: nowrap;
}
.price {
    color: darkorange;
    text-align: right;
    font-size: 18pt;
    white-space: nowrap;
}