.name {
    color: orange;
    width: 240px;
    text-align: left;
    font-size: 20pt;
    white-space: nowrap;
}
.price {
    color: blue;
    width: 180px;
    text-align: right;
    font-size: 20pt;
    white-space: nowrap;
}
.underline {
    border-bottom: 1pt solid black;
}